.entry-question h3 {
  margin-bottom: 4px;
}

.question-topic {
  color: gray;
  margin-bottom: 4px;
}

.question-response {
  font-style: italic;
}

.entry-card {
  background-color: white;
}

.entry-card h1 {
  color: black;
  margin-top: 8px;
}
