<div class="container card entry-card px-3 py-1">
  <div class="entry-information d-flex justify-content-between">
    <div class="entry-date">
      <h1>February 19, 2020</h1>
    </div>
    <div class="entry-characteristics d-flex">
      <div class="all-tags d-flex flex-column justify-content-center">
        <div class="tag px-2 m-1">
          <span>Home</span>
        </div>
        <div class="tag px-2 m-1">
          <span>Travel</span>
        </div>
      </div>
      <div class="emotion d-flex flex-column justify-content-center">
        <i class="fas fa-smile"></i>
      </div>
    </div>
  </div>
  <div class="card entry-question p-3 my-3">
    <span class="question-topic">Work</span>
    <h3>How was work today? (Response: Great!)</h3>
    <span class="question-response">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
  </div>
  <div class="card entry-question p-3 my-3">
    <span class="question-topic">Health</span>
    <h3>How long were you active today? (Response: 43 minutes)</h3>
    <span class="question-response">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</span>
  </div>
</div>
