

<div class="banner">
  <div class="banner-content">
    <h3>A journal made for the modern world</h3>
    <a class="btn btn-white" href="#">Sign-up</a>
    <p>Already a member?</p>
    <%= link_to "Log-in to your account", root_path %>
  </div>
</div>

