<div class="logo">JRNLD</div>

<div class="subtitle">
<h3>A journal made for the modern world</h3>
</div>

<a class="btn btn-ghost" href="#">Sign-up</a>

<p>Already a member?</p>
<%= link_to "Log-in to your account", root_path %>
