

<div class="banner">
  <div class="banner-content">
    <h3>A journal made for the modern world</h3>
    <a class="btn btn-ghost" href="/users/sign_up">Sign-up</a>
    <p>Already a member?</p>
    <p class="log-in"><%= link_to "Log-in to your account", root_path %></p>
  </div>
</div>
