.navbar-lewagon {
  display: flex;
  background: white;
  align-items: center
}

.logo-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
}

.dropdown-container {
  padding-top: 4px;
  padding-right: 16px;
}

.navbar-lewagon .navbar-brand {
  font-size: 28px;
  color: $primary-color;
  font-weight: bold;
  justify-items: center;
  margin: auto;
  &:hover {
    color: $primary-color;
  }
}

.navbar-lewagon #navbarDropdown {
  border: none;
}

.navbar-lewagon .dropDown-icon {
  color: $primary-color;
  font-size: 28px;
}
